# Use `docker compose -f docker-compose.yml up --build -d` to up docker containers
version: "3.9"
services:
  # PostgreSQL database
  mpi_postgres:
    image: postgres:latest
    container_name: mpi_postgres
    restart: always
    environment:
      POSTGRES_INITDB_ARGS: "--data-checksums"
      POSTGRES_SHARED_PRELOAD_LIBRARIES: "pg_stat_statements"
      POSTGRES_USER: ${DB_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DB_PASS:-postgrespass}
      POSTGRES_DB: ${DB_NAME:-shadow}

    command: >
      postgres
      -c shared_preload_libraries=pg_stat_statements

    ports:
      - ${DB_PORT:-5432}:${DB_PORT:-5432}
    volumes:
      - mpi_postgres:/data/postgres
      - ./postgres-init:/docker-entrypoint-initdb.d:ro

  # pgAdmin - UI for PostgreSQL
  mpi_pgadmin:
    image: dpage/pgadmin4:latest
    container_name: mpi_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - ${PGADMIN_INNER_PORT:-5050}:${PGADMIN_OUTER_PORT:-80}
    volumes:
      - mpi_pgadmin:/var/lib/pgadmin

  api:
    container_name: api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${API_PORT:-8080}:${API_PORT:-8080}
    restart: always
    depends_on:
      - mpi_postgres
    environment:
      - DB_HOST=mpi_postgres

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:latest
    environment:
      DATA_SOURCE_NAME: postgresql://${DB_USERNAME:-postgres}:${DB_PASS:-postgrespass}@mpi_postgres:${DB_PORT:-5432}/${DB_NAME:-shadow}?sslmode=disable

      PG_EXPORTER_EXTEND_QUERY_PATH: /etc/postgres_exporter/queries.yaml

      PG_EXPORTER_LOG_LEVEL: trace
    ports:
      - ${POSTGRES_EXPORTER_OUTER_PORT:-9187}:${POSTGRES_EXPORTER_INNER_PORT:-9187}
    volumes:
      - ./grafana/postgres-exporter/queries.yaml:/etc/postgres_exporter/queries.yaml:ro
    depends_on:
      - mpi_postgres
#    command:
#      - "--extend.query-path=/etc/postgres_exporter/queries.yaml"

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    restart: always
    ports:
      - ${PROMETHEUS_OUTER_PORT:-9090}:${PROMETHEUS_INNER_PORT:-9090}
    volumes:
      - ./grafana/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - ${GRAFANA_OUTER_PORT:-3000}:${GRAFANA_INNER_PORT:-3000}

volumes:
  mpi_postgres:
  mpi_pgadmin: